# Compiled Object files
*.slo
*.lo
*.o
**/OBJ/**/*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency Files
**/DEPS/**/*.d

# Executables
EXE/train-sch

# YCM compiled config
.ycm_extra_conf.pyc

# misc
train-sch.sublime-workspace
