<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload a file in Django 1.5 using Dropzone.js</title>
        {% load staticfiles %}
        <link href="{% static 'circuits/css/styles.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'dropzone/dist/dropzone.css' %}" type="text/css" rel="stylesheet"/>
        <link href="{% static 'dropzone/dist/base.css' %}" type="text/css" rel="stylesheet"/>
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>-->
        <script src="{% static 'dropzone/dist/dropzone.js' %}"></script>
        <script src="{% static 'jquery/jquery.js' %}"></script>

    </head>
    <body>
 
        <div class="container">
            <div class="banner">
                    <img id="logo" src="{% static 'circuits/images/Logo.png' %}">
                    <p class="description">Circuits are hard, let our owl do the work!</p>
                    <img id="restart" src="{% static 'circuits/images/new_session.png' %}">
            </div>
            <div class="content_container">
                <!-- IMPORTANT enctype attribute! -->

                <button id="submit-all">
                    Submit all files
                </button>                 

                <div class="cover">
                    <div class="dash_shadow"><img class="dash_shadow" src="{% static 'circuits/images/dash_fill.png' %}"></div>
                    <div class="dash"><img class="dash" src="{% static 'circuits/images/dash.png' %}"></div>
                    <div class="awake"><img src="{% static 'circuits/images/Awake-Small.gif' %}"></div>
                    <div class="sleeping"><img src="{% static 'circuits/images/Sleeping-Small.gif' %}"></div>
                    <div class="drag"><img height="50px" src="{% static 'circuits/images/drag.png' %}"></div>
                    <div class="loader"><img id="loader_image" src="{% static 'circuits/images/Loader.gif' %}"></div>
                    <div class="result_shadow"><img id="result_shadow" src="{% static 'circuits/images/dash_fill.png' %}"></div>
                </div>

                <form id="myDropzone" class="dropzone" action="{% url 'circuits:upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                </form>
                
                <script type="text/javascript">
                    Dropzone.options.myDropzone = {

                        // Makes Dropzone automatically upload dropped files immediately
                        autoProcessQueue : true,

                        init : function() {
                            myDropzone = this;
                            // You might want to show the submit button only when
                            // files are dropped here:
                            
                            this.on("success", function(file, resp) { 
                                window.location.replace(resp.url);
                            });

                            this.on("addedfile", function(file, resp) {                                 
                                $(".awake").css("display", "none");                                
                                $(".sleeping").css("display", "none");
                                $(".loader").css("display", "block");
                                $(".drag").css("display", "none");
                                $(".result_shadow").css("display", "block");
                                setTimeout(function(){ window.location.replace("http://127.0.0.1:8000/circuits/result/1/"); }, 7000);
                                console.log(resp);
                                console.log(file);
                            });
                        },
                        acceptedFiles : 'image/*'
                    };
                </script>
            </div>
        </div>
    </body>
</html>

<!--
<form action="{% url 'circuits:upload' %}" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}
    </div>
    <div class="fieldWrapper">
        {{ form.file_field.errors }}
        <label for="{{ form.file_field.id_for_label }}">File field:</label>
        {{ form.file_field }}
    </div>    
    <input type="submit" value="Submit" />
</form>
-->
