#logo{
    height:45px; 
    padding-left:25px;
    padding-top:10px;
}

#submit-all{
    position:fixed;
    margin-left:500px;
    margin-top:200px;
    display:none;
}

.description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #58595B;
    margin-top:-2px;
    padding-left:26px;
    font-size:15px;
}

.drag{
    padding-left:550px;
    padding-top:485px;
    height:50px;
    width:100%;
    position:absolute;
}

.awake{
    position:absolute;
    padding-left:350px;
    width:34%;
    display:none;
    margin-top:-25px;
}

.sleeping{
    margin-top:-25px;
    position:absolute;
    padding-left:350px;
    width:34%;
    display:block;
}

.dash{
    position:absolute;
    padding-left:10px;
    padding-top:10px;
    width:98%;
    height:550px;
    opacity:0.5;
    display:none;
}

.dash_shadow{
    position:absolute;
    padding-left:10px;
    padding-top:10px;
    width:98%;
    height:550px;
    opacity:0.25;
    display:none;
}

.content_container:hover .sleeping{
    display:none;
}

.content_container:hover .awake{
    display:block;
}

.content_container:hover .dash_shadow{
    display:block;
}

.content_container:hover .dash{
    display:block;
}

.result_container:hover .loader{
    display:none;
}

.removebutton{
    float:right;
}

.cover{
    background-size: 700px 600px;
    background-repeat:none;
    display: block;
    pointer-events: none;
    height:600px;
    width:100%;
    position:fixed;
    background-color:#E6E7E8;
    margin-left:-8px;
}

#result_image{
    height:600px;
    padding-left:150px;
}

#loader_image{
    height:180px;
    padding-left:550px; 
    padding-top:200px;
}

#result_shadow{
    height:585px;
    width:100%;
    opacity:0.2;
}

#restart{
    position:absolute;
    height:60px;
    margin-top:-80px;
    padding-left:1175px;
}

.loader{
    display:none;
    position:absolute;
}

.result_image{
    display:block;
}

.result_shadow{
    display:none;
}

.result_container{
    height:550px;
}

.content_container{
    height:550px;    
    background-color:#E6E7E8;
}

.dropzone{
    height:500px;
}

.banner{
    height:75px; 
    width:100%; 
    padding-bottom:15px;    
}
